<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" 
			xmlns:web="http://java.sun.com/xml/ns/javaee" 
			xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" 
			id="WebApp_ID" version="2.5">
  <display-name>1Pay DEV</display-name>
  <welcome-file-list>
    <welcome-file>dev/home.dev</welcome-file>
  </welcome-file-list>
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>
	</param-value>
  </context-param>
  <listener>
    <listener-class>
			net.sourceforge.wurfl.core.web.WURFLServletContextListener</listener-class>
  </listener>
  <context-param>
    <param-name>wurfl</param-name>
    <param-value>/WEB-INF/wurfl.zip</param-value>
  </context-param>
  <filter>
    <filter-name>charsetFilter</filter-name>
    <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>charsetFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>ResponseOverrideFilter</filter-name>
    <filter-class>org.displaytag.filter.ResponseOverrideFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>ResponseOverrideFilter</filter-name>
    <url-pattern>*.html</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>ResponseOverrideFilter</filter-name>
    <url-pattern>*.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>ResponseOverrideFilter</filter-name>
    <url-pattern>*.dev</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>InitServiceFinder</servlet-name>
    <servlet-class>vn.onepay.service.InitServiceFinder</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  
  <servlet>
    <servlet-name>1pay</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>1pay</servlet-name>
    <url-pattern>*.html</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>1pay-apps</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <load-on-startup>2</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>1pay-apps</servlet-name>
    <url-pattern>*.wss</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>dev</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <load-on-startup>7</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>dev</servlet-name>
    <url-pattern>*.dev</url-pattern>
  </servlet-mapping>
  
  <servlet>
		<servlet-name>cdr-filter</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<load-on-startup>5</load-on-startup>
  </servlet>
  <servlet-mapping>
		<servlet-name>cdr-filter</servlet-name>
		<url-pattern>*.cdr</url-pattern>
	</servlet-mapping>
	
  <servlet>
    <servlet-name>ConnectorServlet</servlet-name>
    <servlet-class>com.ckfinder.connector.ConnectorServlet</servlet-class>
    <init-param>
      <param-name>XMLConfig</param-name>
      <param-value>/WEB-INF/ckfinder-config.xml</param-value>
    </init-param>
    <init-param>
      <param-name>debug</param-name>
      <param-value>false</param-value>
    </init-param>
    <init-param>
      <param-name>configuration</param-name>
      <param-value>com.ckfinder.connector.configuration.MyConfiguration</param-value>
    </init-param>
    <load-on-startup>5</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConnectorServlet</servlet-name>
    <url-pattern>
			/ckfinder/core/connector/java/connector.java
		</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>vn.onepay.account.cache.AccountCacheBuilder</listener-class>
  </listener>
  <context-param>
    <param-name>account-cache-interval</param-name>
    <param-value>90000</param-value>
  </context-param>
 
  <error-page>
    <error-code>400</error-code>
    <location>/</location>
  </error-page>
  <error-page>
    <error-code>401</error-code>
    <location>/</location>
  </error-page>
  <error-page>
    <error-code>403</error-code>
    <location>/</location>
  </error-page>
  <error-page>
    <error-code>404</error-code>
    <location>/</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/error.html</location>
  </error-page>
  <error-page>
    <error-code>503</error-code>
    <location>/error.html</location>
  </error-page>
</web-app>